html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

* {
  margin: 0;
}

ul,
ol {
  padding: 0;
}

button,
input,
select,
textarea,
fieldset,
legend {
  border: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.table {
  overflow-x: auto;
}

table {
  max-width: 100%;
  border-collapse: collapse;
}

tr:not(:last-child) {
  border-bottom: 1px solid rgb(0 0 0 / 0.3);
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  border-radius: 0;
}

button,
[type='button'],
[type='submit'],
[type='reset'] {
  -webkit-appearance: none;
}

[type='text'],
[type='number'],
[type='search'],
[type='email'],
[type='date'],
[type='month'],
[type='password'],
[type='range'],
[type='tel'],
select,
textarea {
  max-width: 100%;
}
